@font-face {
  font-family: janegull;
  src: url("../fonts/junegull rg.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: janegull_IE;
  src: url("../fonts/junegull rg.woff");
  font-style: normal;
  font-weight: normal; }
html, body {
  margin: 0;
  -webkit-overflow-scrolling: touch; }

.sg-container {
  max-width: 1200px;
  min-width: 320px;
  animation-name: fade-in-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  margin: auto; }
  .sg-container .sg-top {
    padding: 25px; }
    .sg-container .sg-top header {
      height: 50px; }
      .sg-container .sg-top header:after {
        clear: both;
        content: "";
        display: block; }
      @media screen and (max-width: 768px) {
        .sg-container .sg-top header .sg-top-left {
          width: 100%; }
          .sg-container .sg-top header .sg-top-left .sg-top-left-img {
            text-align: center; }
        .sg-container .sg-top header .sg-top-right {
          display: none; } }
      .sg-container .sg-top header .sg-top-left {
        float: left; }
        .sg-container .sg-top header .sg-top-left .sg-top-left-img {
          width: 300px;
          height: 50px;
          background-image: url("../images/tae_logo.png");
          background-size: cover;
          background-repeat: no-repeat;
          cursor: pointer; }
          @media screen and (max-width: 768px) {
            .sg-container .sg-top header .sg-top-left .sg-top-left-img {
              width: 240px;
              height: 40px;
              margin: auto; } }
      .sg-container .sg-top header .sg-top-right {
        float: right; }
        .sg-container .sg-top header .sg-top-right:after {
          clear: both;
          content: "";
          display: block; }
        .sg-container .sg-top header .sg-top-right a {
          position: relative;
          display: block;
          float: left;
          margin-left: 10px; }
          .sg-container .sg-top header .sg-top-right a:hover {
            background-color: #3d9d9d; }
          .sg-container .sg-top header .sg-top-right a div {
            height: 50px;
            width: 50px;
            cursor: pointer;
            background-size: cover;
            background-repeat: no-repeat; }
          .sg-container .sg-top header .sg-top-right a .sg-top-right-scratch {
            height: 50px;
            width: 140px;
            background-image: url("../images/scratch.png"); }
          .sg-container .sg-top header .sg-top-right a .sg-top-right-apple {
            background-image: url("../images/apple_logo.png"); }
          .sg-container .sg-top header .sg-top-right a .sg-top-right-android {
            background-image: url("../images/android_logo.png"); }
          .sg-container .sg-top header .sg-top-right a .sg-top-right-windows {
            background-image: url("../images/windows_logo.png"); }
    .sg-container .sg-top .sg-top-intro {
      margin-top: 25px;
      padding: 25px 35px 25px 35px;
      background-color: #e9eaea;
      border-radius: 28px; }
      .sg-container .sg-top .sg-top-intro .sg-top-intro-title {
        color: #369ed4;
        font-family: janegull, janegull_IE;
        font-size: 25px;
        font-weight: 500;
        text-align: center; }
      .sg-container .sg-top .sg-top-intro .sg-top-intro-body {
        margin-top: 14px;
        color: #1f2020;
        font-size: 18px;
        font-weight: 500;
        font-family: arial;
        line-height: 28px; }
    .sg-container .sg-top .sg-top-main:after {
      clear: both;
      content: "";
      display: block; }
    .sg-container .sg-top .sg-top-main .sg-top-main-row {
      display: flex; }
      @media screen and (max-width: 768px) {
        .sg-container .sg-top .sg-top-main .sg-top-main-row {
          display: block; } }
      .sg-container .sg-top .sg-top-main .sg-top-main-row .sg-top-main-item {
        border-radius: 28px;
        float: left;
        margin-top: 25px;
        margin-right: 24px;
        width: calc(50% - 12px);
        flex: 1; }
        .sg-container .sg-top .sg-top-main .sg-top-main-row .sg-top-main-item:nth-child(2n) {
          margin-right: 0; }
        @media screen and (max-width: 768px) {
          .sg-container .sg-top .sg-top-main .sg-top-main-row .sg-top-main-item {
            width: 100%;
            min-height: 0; } }
        .sg-container .sg-top .sg-top-main .sg-top-main-row .sg-top-main-item .sg-top-main-item-top {
          position: relative;
          padding: 15px 25px 0 25px;
          border-radius: 28px;
          background-color: rgba(255, 255, 255, 0.3); }
          .sg-container .sg-top .sg-top-main .sg-top-main-row .sg-top-main-item .sg-top-main-item-top .sg-top-main-item-top-img {
            text-align: center; }
            .sg-container .sg-top .sg-top-main .sg-top-main-row .sg-top-main-item .sg-top-main-item-top .sg-top-main-item-top-img img {
              width: 55px;
              height: 55px;
              margin: auto; }
          .sg-container .sg-top .sg-top-main .sg-top-main-row .sg-top-main-item .sg-top-main-item-top .sg-top-main-item-top-title {
            color: white;
            font-family: janegull, janegull_IE;
            font-size: 20px;
            font-weight: 300;
            text-align: center; }
        .sg-container .sg-top .sg-top-main .sg-top-main-row .sg-top-main-item .sg-top-main-item-bottom {
          padding: 20px 25px 20px 25px; }
          .sg-container .sg-top .sg-top-main .sg-top-main-row .sg-top-main-item .sg-top-main-item-bottom .sg-top-main-item-bottom-body {
            color: white;
            font-size: 18px;
            font-weight: 100;
            font-family: arial;
            line-height: 28px; }
        .sg-container .sg-top .sg-top-main .sg-top-main-row .sg-top-main-item .sg-top-main-item-top-arrow {
          position: relative;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid rgba(255, 255, 255, 0.3);
          top: 10px;
          margin: auto; }
      .sg-container .sg-top .sg-top-main .sg-top-main-row #sg-top-main-item-1 {
        background-color: #8d71b1;
        opacity: 0;
        animation-name: fade-in-animation;
        animation-timing-function: linear;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s; }
      .sg-container .sg-top .sg-top-main .sg-top-main-row #sg-top-main-item-2 {
        background-color: #527fbf;
        opacity: 0;
        animation-name: fade-in-animation;
        animation-timing-function: linear;
        animation-delay: 0.75s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.75s;
        -moz-animation-duration: 0.75s;
        animation-duration: 0.75s; }
      .sg-container .sg-top .sg-top-main .sg-top-main-row #sg-top-main-item-3 {
        background-color: #ee7598;
        opacity: 0;
        animation-name: fade-in-animation;
        animation-timing-function: linear;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s; }
      .sg-container .sg-top .sg-top-main .sg-top-main-row #sg-top-main-item-4 {
        background-color: #3d9d9d;
        opacity: 0;
        animation-name: fade-in-animation;
        animation-timing-function: linear;
        animation-delay: 1.25s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1.25s;
        -moz-animation-duration: 1.25s;
        animation-duration: 1.25s; }
    .sg-container .sg-top .sg-top-detail {
      padding-top: 25px; }
      .sg-container .sg-top .sg-top-detail .sg-top-detail-title {
        color: black;
        font-family: janegull, janegull_IE;
        font-size: 25px;
        font-weight: 500; }
      .sg-container .sg-top .sg-top-detail .sg-top-detail-body {
        padding-top: 10px; }
        .sg-container .sg-top .sg-top-detail .sg-top-detail-body p {
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 18px;
          font-family: arial; }
  .sg-container .sg-bottom .sg-bottom-detail {
    background-color: #6d8491;
    padding: 15px 35px 15px 35px; }
    .sg-container .sg-bottom .sg-bottom-detail .sg-bottom-detail-title {
      color: white;
      font-size: 28px;
      font-weight: 200;
      font-family: "Times New Roman", Times, serif;
      animation-name: sg-bottom-detail-animation;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate; }
    .sg-container .sg-bottom .sg-bottom-detail .sg-bottom-detail-body {
      margin-top: 8px;
      color: white;
      font-size: 16px;
      font-weight: 100;
      font-family: arial;
      line-height: 26px; }
  .sg-container .sg-bottom footer {
    position: relative;
    padding-top: 6px;
    text-align: center;
    height: 80px; }
    .sg-container .sg-bottom footer img {
      position: absolute;
      left: 0;
      height: 80px; }
    .sg-container .sg-bottom footer a {
      text-decoration: none !important; }
    .sg-container .sg-bottom footer h2 {
      padding-top: 18px;
      color: black;
      font-family: "Times New Roman", Times, serif;
      margin: 0;
      font-weight: 500;
      cursor: pointer; }
    .sg-container .sg-bottom footer h4 {
      margin-top: 5px;
      color: #91919e;
      font-size: 15px;
      font-weight: 300;
      font-family: arial;
      margin-left: 4px;
      margin-right: 4px; }
    @media screen and (max-width: 768px) {
      .sg-container .sg-bottom footer img {
        position: relative; }
      .sg-container .sg-bottom footer h2 {
        padding-top: 0; } }

@-webkit-keyframes fade-in-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fade-in-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes sg-bottom-detail-animation {
  from {
    color: white; }
  to {
    color: rgba(255, 255, 255, 0.7); } }

/*# sourceMappingURL=main.css.map */
